export SOPS_AGE_SSH_PRIVATE_KEY_FILE=$HOME/.ssh/id_ed25519
eval "$(direnv dotenv bash <(sops -d --output-type dotenv secrets.yaml))"

source_env "$(uv sync --quiet && echo .venv/bin/activate)"
use flake path:.
