# 1. Point SOPS to your age private key file
export SOPS_AGE_KEY_FILE="/persist/etc/sops/identities.txt"

# 2. Decrypt your SOPS parameters into your shell session environment
eval "$(direnv dotenv bash <(sops -d --output-type dotenv secrets.yaml))"

# 3. Create the Secrets folder and extract values into files for podman-compose
mkdir -p Secrets
echo "$POSTGRES_PASSWORD" > Secrets/postgres_password
echo "$FERNET_PASSWORD" > Secrets/fernet_password
echo "$GITHUB_TOKEN_COMMONS" > Secrets/github_token_commons
echo "$GITHUB_TOKEN_IIP" > Secrets/github_token_iip
echo "$GITHUB_TOKEN_SEEDS" > Secrets/github_token_seeds

# 4. Initialize Python virtual environment & Flake layers
source_env "$(uv sync --quiet && echo .venv/bin/activate)"
use flake path:.
