export SOPS_AGE_KEY_FILE="$HOME/.config/sops/age/keys.txt"
watch_file secrets.enc.env
eval "$(sops decrypt --output-type dotenv secrets.enc.env)"

source_env "$(uv sync --quiet && echo .venv/bin/activate)"
use flake path:.
