# MODE
PRODUCTION_MODE=false
LOGLEVEL=debug
COMMONS_TAG=v1.2.3

# DB
POSTGRES_USER=iip_user
POSTGRES_PASSWORD=averysafepasswordfordb
POSTGRES_DB=iip

# PORT API
PORT_AUTH=2345
PORT_CORE=2345
PORT_IA_AGENT=2345
PORT_STAT=4290

# CORS DIRECT API
PUBLIC_ORIGINS=https://frontend1.com,https://frontend2.com,http://localhost:5173

# CORS FRONTEND ONLY
NODE_ORIGINS=https://frontend1.com,https://frontend2.com,http://localhost:5173

# ADMIN SETUP
ROOT_USER_NAME=root
ROOT_USER_MAIL=test1@example.com
ROOT_USER_PASS=averysaferootpass
AI_USER_NAME=innoveai
AI_USER_MAIL=test2@example.com
AI_USER_PASS=averysafeaipass

# TOKENS
JWT_ASYMETRIC_ALGORITHM=EdDSA
JWT_EXPIRE_MINUTES_ACCESS=1440
JWT_EXPIRE_MINUTES_REFRESH=10080

# ENCRYPTION
FERNET_ENCRYPTION_PASS=averysafepassforfernet

# STORAGE
BASE_UPLOAD_DIR=/app/uploads

# SEED
GITHUB_TOKEN=somegithubtoken
