# MODE
PRODUCTION_MODE=false
LOGLEVEL=debug

# DB
POSTGRES_USER=iip_user
POSTGRES_DB=iip

# PORT API
PORT_AUTH=2345
PORT_CORE=2345
PORT_IA_AGENT=2345
PORT_STAT=4290

# CORS DIRECT API
PUBLIC_ORIGINS=https://frontend1.com,https://frontend2.com,http://localhost:5173

# CORS FRONTEND ONLY
NODE_ORIGINS=https://frontend1.com,https://frontend2.com,http://localhost:5173

# TOKENS
JWT_ASYMETRIC_ALGORITHM=EdDSA
JWT_EXPIRE_MINUTES_ACCESS=1440
JWT_EXPIRE_MINUTES_REFRESH=10080

# STORAGE
BASE_UPLOAD_DIR=/app/uploads
