# ==========================================
# ENVIRONMENT VARIABLES EXAMPLE
# ==========================================

# ==========================================
# ==========================================
# MANDATORY
# ==========================================
# ==========================================

# CORS DIRECT API
# Comma-separated list of allowed public origins
PUBLIC_ORIGINS="http://localhost:3000,https://api.example.com"

# CORS FRONTEND ONLY
# Comma-separated list of allowed private/frontend origins
PRIVATE_ORIGINS="http://localhost:5173,https://app.example.com"

# ==========================================
# ==========================================
# OPTIONAL (ALREADY HAVE DEFAULTS)
# ==========================================
# ==========================================

# MODE
# Set to true for production, false for development
PRODUCTION_MODE=false
# e.g., debug, info, warn, error
LOGLEVEL=error

# DB
POSTGRES_USER=postgres_user
POSTGRES_DB=app_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# CACHE
VALKEY_USER=valkey_user
VALKEY_DB=app_cache
VALKEY_HOST=cache
VALKEY_PORT=6379

# TOKENS
# Expiration time in minutes (e.g., 15 mins for access, 10080 mins/7 days for refresh)
JWT_EXPIRE_MINUTES_ACCESS=15
JWT_EXPIRE_MINUTES_REFRESH=10080

# SERVICES (HOST & PORT CONFIGURATION | MUST BE SAME AS nginx.conf)
#AUTH CONTAINER NAME
HOST_AUTH=auth
PORT_AUTH=8000
#CORE CONTAINER NAME
HOST_CORE=core
PORT_CORE=8001
