# ==========================================
# ENVIRONMENT VARIABLES EXAMPLE
# ==========================================

# ==========================================
# ==========================================
# MANDATORY
# ==========================================
# ==========================================

# CORS DIRECT API
# Comma-separated list of allowed public origins
PUBLIC_ORIGINS="http://localhost:3000,https://api.example.com"

# CORS FRONTEND ONLY
# Comma-separated list of allowed private/frontend origins
PRIVATE_ORIGINS="http://localhost:5173,https://app.example.com"

# SERVICES (HOST & PORT CONFIGURATION | MUST BE SAME AS nginx.conf)
#AUTH CONTAINER PORT
PORT_AUTH=4293
#CORE CONTAINER PORT
PORT_CORE=4294

# ==========================================
# ==========================================
# OPTIONAL (ALREADY HAVE DEFAULTS)
# ==========================================
# ==========================================

# MODE
# Set to true for production, false for development
PRODUCTION_MODE=false
# e.g., debug, info, warn, error
LOGLEVEL=info

# DB
POSTGRES_USER=pgadmin
POSTGRES_DB=app

# TOKENS
# Expiration time in minutes (e.g., 15 mins for access, 10080 mins/7 days for refresh)
JWT_EXPIRE_MINUTES_ACCESS=15
JWT_EXPIRE_MINUTES_REFRESH=10080

# SERVICES (HOST & PORT CONFIGURATION | MUST BE SAME AS nginx.conf)
#AUTH CONTAINER NAME
HOST_AUTH=auth
#CORE CONTAINER NAME
HOST_CORE=core
