# IIP Stats - Configuración de Entorno Angular

# API de Autenticación (Auth Service)
NG_APP_API_URL=https://localhost:8001

# API del Core (Business Logic)
NG_APP_CORE_URL=https://localhost:8002

# API del IA Agent
NG_APP_IA_AGENT_URL=https://localhost:8003

# Entorno de compilación
NG_APP_ENV=development

# Modo debug
NG_APP_DEBUG=true
